:root {
  --maido-bg-gradient: linear-gradient(
    90deg,
    rgb(230, 191, 253),
    rgba(226, 207, 255, 0.4)
  );
  --maido-anchor-color: rgba(0, 51, 102, 0.6);
}

.maido-list ol,
.maido-list ul {
  list-style: decimal;
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0;
  padding-left: 10px;
}

.maido-list ol,
.maido-list ul {
  counter-reset: item;
}

.maido-list li {
  display: block;
}

.maido-list li:before {
  content: counters(item, '.') '. ';
  counter-increment: item;
}

.maido-toc ol,
.maido-toc ul {
  list-style: '#';
  list-style-type: '#';
  list-style-position: inside;
  margin: 0;
  padding-left: 10px;
}

.Z-bookcard-div:hover {
  background-image: var(--maido-bg-gradient);
}

.maido-content h1 h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.maido-content h1 {
  font-size: 1.7em;
}

.maido-content h2 {
  font-size: 1.5em;
}

.maido-content .header-anchor {
  color: var(--maido-anchor-color);
  text-decoration: underline;
}

.maido-content i,
.maido-content cite,
.maido-content em {
  font-style: italic;
}
.maido-content strong {
  font-weight: 700;
}
.maido-content a {
  color: #4a5cff;
}
.maido-content a:hover {
  text-decoration: underline;
}
.maido-content p + p {
  margin-top: 1.5em;
}
