:root {
  --maido-bg-gradient: linear-gradient(
    90deg,
    rgb(230, 191, 253),
    rgba(226, 207, 255, 0.4)
  );
  --maido-anchor-color: rgba(0, 51, 102, 0.6);
}

.maido-list ol,
.maido-list ul {
  list-style: decimal;
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0;
  padding-left: 10px;
}

.maido-list ol,
.maido-list ul {
  counter-reset: item;
}

.maido-list li {
  display: block;
}

.maido-list li:before {
  content: counters(item, '.') '. ';
  counter-increment: item;
}

.maido-list a {
  color: rgb(0, 144, 201);
}

.maido-toc ol,
.maido-toc ul {
  list-style: '#';
  list-style-type: '#';
  list-style-position: inside;
  margin: 0;
  padding-left: 10px;
}

.Z-bookcard-div:hover {
  background-image: var(--maido-bg-gradient);
}

.maido-content h1,
.maido-content h2 {
  margin-top: 1.7em;
  margin-bottom: 0.5em;
}

.maido-content h1 {
  font-size: 1.7em;
}

.maido-content h2 {
  font-size: 1.5em;
}

.maido-content h3 {
  font-size: 1.3em;
}

.maido-content h4 {
  font-size: 1.2em;
}

.maido-content h5 {
  font-size: 1.1em;
}

.maido-content h6 {
  font-size: 1em;
}

.maido-content h3,
.maido-content h4,
.maido-content h5,
.maido-content h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.maido-content .header-anchor {
  color: var(--maido-anchor-color);
  text-decoration: underline;
}

.maido-content i,
.maido-content cite,
.maido-content em {
  font-style: italic;
}
.maido-content strong {
  font-weight: 700;
}
.maido-content a {
  color: #8d99ff;
}
.maido-content a:hover {
  text-decoration: underline;
}
.maido-content p + p,
.maido-content p + ul,
.maido-content ul + p {
  margin-top: 1.5em;
}
.maido-content h1 + p,
.maido-content h2 + p,
.maido-content h3 + p,
.maido-content h4 + p,
.maido-content h5 + p,
.maido-content h6 + p {
  margin-top: 0.3em;
}

.maido-content ol,
.maido-content ul {
  list-style: '- ';
  list-style-type: '- ';
  list-style-position: inside;
  margin: 0;
  padding-left: 10px;
}

.maido-content h1,
.maido-content h2,
.maido-content h3,
.maido-content h4,
.maido-content h5,
.maido-content h6,
.maido-content p,
.maido-content ul,
.maido-content li,
.maido-content span {
  overflow-wrap: break-word;
  line-height: 1.6;
}
